.variants_gallery {
  margin-left: 0.5rem;
  height: 80vh;

  .gallery_scroller {
    top: 85%;
    left: 1%;
  }

  .variants_gallery_slideshow {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    img {
      width: 100%;
    }

    p {
      position: relative;
      color: #f9af15;
      transform: translateY(-4rem);
      left: 2.5rem;
    }

    #variant1 {
      order: 1;
    }

    #variant2 {
      order: 2;
    }
  }

  #scroller_WG {
    width: 99%;
    margin-top: -3rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}