.variants_gallery {
  position: relative;
  width: 91rem;
  margin-left: 0.5rem;

  height: 80vh;
  //left: 3%;

  .gallery_scroller {
    top: 85%;
    left: 1%;
  }

  .variants_gallery_slideshow {
    position: relative;
    width: 91rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    img {
      width: 98%;
    }

    p {
      position: relative;
      color: #f9af15;
      transform: translateY(-4rem);
      left: 2.5rem;
    }

    #variant1 {
      order: 1;
      margin: 1%;
    }

    #variant2 {
      order: 2;
    }
  }

  #scroller_WG {
    width: 89rem;
    margin-top: -3rem;
    margin-left: 1rem;
  }
}