.favorite_business {
  width: 100%;
  min-height: 87vh;
  display: flex;
  flex-direction: row;
  align-items: center;

  #left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    height: 87vh;
    justify-content: space-between;

    .mega_box2_tagline {
      font-size: 50px;
      font-weight: 600;
      line-height: 4rem;
      text-align: left;
      margin-top: -10px;
    }

    .solutions {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: -25px;

      .solutions_sections {
        color: #000000;
        font-size: 20px;
        font-weight: 600;
        line-height: 2.13rem;
        text-align: left;
      }

      .solutions_gallery {
        height: 100%;
        width: 95%;
        display: flex;
        flex-direction: row;
        align-items: center;

        .row_gallery {
          display: flex;
          flex-direction: row;
          align-items: center;

          .solutions_button {
            background: transparent;
            border-color: transparent;

            img {
              width: 90%;
            }
          }
        }
      }
    }
  }

  #right {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 87vh;
    gap: 16px;
  }

  .home_gallery {
    position: relative;
    height: 57vh;

    img {
      width: 100%;
    }

    .move_bar {
      position: relative;
      top: -13%;
      left: 3%;
      width: 15%;
      height: 10%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }

  .solutions_description {
    width: 100%;
    height: 25vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 90px;
    border-radius: 32px;
    background: rgb(233, 233, 233);
    padding: 20px 0;

    .solution_tag {
      font-weight: 600;
      font-size: 40px;
    }

    .solution_tag_description {
      font-size: 17px;
      line-height: 150%;
      letter-spacing: -0.04em;
      color: #818181
    }

    .solutions_description_text {
      position: relative;
      left: 10%;
      height: 28vh;
      width: 40%;

      p {
        margin-top: 50px;
      }

      h2 {
        margin-top: 30px;
      }
    }

    .solution_cost_fix {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      height: 80%;
      width: 40%;

      h2, p {
        margin: 0;
        color: #000000;
      }

      button {
        margin-top: 15px;
        width: 95%;
        height: auto;
        padding: 1.5rem;
      }
    }
  }
}