.sections {
  width: 100%;
  height: 22%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .hidden_text {
    display: none;
    position: relative;
    top: -3rem;
    left: 10px;
    height: 0;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: -0.02em;
    color: #fff;
    width: 6rem;
    li {
      text-align: start;
      min-width: 6rem;
    }
  }

  .section_box {
    width: 29rem;
    height: 14rem;
    border-radius: 2rem;
    border-color: transparent;
    background: rgba(239, 239, 239, 1);

    p {
      padding: 0 7%;
      font-weight: 545;
      font-size: 24px;
      line-height: 133%;
      letter-spacing: -0.06em;
      color: #161616;
      text-align: left;
    }

    img {
      display: flex;
      position: relative;
      width: 10%;
      top: 13%;
      left: 85%;
    }

    &:hover {
      background-image: url("../../../assets/img/bigSectionActiveBackground.png");
      background-size: cover;

      .hidden_text {
        display: block;
      }

      p {
        color: white;
      }

      .revertImg {
        content: url("../../../assets/svg/revertLinkImg.svg");
      }
    }

    .sections_name {
      position: relative;
      top: -50px;
      left: 1px;
      font-weight: bolder;
    }
  }

}
