.sections {
  width: 100%;
  height: 22%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 1rem;

  .hidden_text {
    display: none;
    position: relative;
    top: -3rem;
    left: 10px;
    height: 0;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: -0.02em;
    color: #fff;
  }


  .sections_description {
    position: relative;
    top: -30px;
    left: 1px;
  }

  .section_box {
    width: 30rem;
    height: 14rem;
    margin: 0 1%;
    border-radius: 1rem;
    border-color: transparent;
    background: rgba(239, 239, 239, 1);

    &:hover {
      background-image: url("../../../assets/img/bigSectionActiveBackground.png");

      .hidden_text {
        display: block;
      }

      p {
        color: white;
      }

      .revertImg {
        content: url("../../../assets/svg/revertLinkImg.svg");
      }
    }
  }

  #section_partnership {
    p {
      top: -20px;
    }

    .hidden_text {
      top: -40px;
    }

    .linkImg {
      top: -2%;
    }
  }
}

.sections p {
  padding: 0 7%;
  font-weight: 545;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: -0.06em;
  color: #161616;
  text-align: left;
  //margin: 10%;
}

.sections img {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 10%;
  width: 20%;
  top: 6%;
  left: 60%;
}