.about_page {
  gap: 52px;


  .main_header {
    left: -1%;
  }

  #white_bullets {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    p {
      font-size: 18px;
    }
  }

  #black_bullets {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    //margin-top: 3rem;
  }

  #CEO_greeting {
    width: 100%;
  }

  .Russia_slider {
    width: 100%;
    height: 126vh;
    //background-image: url(../../assets/img/Russia.png);
    //background-size: cover;
    img {
      z-index: 0;
      width: 100%;
      position: relative;
      top: -14rem;
      //margin-top: -4rem;
    }

    h2, p {
      z-index: 1;
      color: #161616;
    }

    h2 {
      margin-bottom: 2rem;
      font-size: 52px;
      line-height: 123%;
      letter-spacing: -0.06em;
    }

    p {
      font-size: 17px;
      font-weight: 500;
      letter-spacing: -0.06em;
    }
  }

}

.pseudo_vid {
  width: 100%;
  height: 100%;

  img {
    width: 100%;
  }
}