.feedback_gallery {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;

  h1 {
    width: 95%;
  }

  img {
    //position: relative;
    //right: 1.5rem;
    width: 95%;
  }

  #scroller {
    margin-top: 1em;
    width: 95%;
  }
}