.single_blog_bullet {
  width: 25em;
  height: 17em;
  margin: 0 1%;

  border-radius: 1.5rem;
  background-size: cover;

  p {
    width: 320px;
    position: relative;
    top: 45%;
    left: 5%;
    font-weight: 600;
    font-size: 20px;
    line-height: 148%;
    letter-spacing: -0.04em;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #fff;
  }

  .blog_bullet_section {
    position: relative;
    top: 5%;
    left: 5%;
    padding: 0 10%;
    max-width: 5%;
    max-height: 15%;
    border-radius: 31.25rem;
    background: rgb(22, 22, 22);
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      font-weight: 600;
      font-size: 12px;
      line-height: 150%;
      letter-spacing: -0.04em;
      text-align: center;
      color: #fff;
    }
  }
}

.blog_bullet_post {
  background-image: url(../../../pages/Home/static/works/blog1.png);
}