.social_media {
  position: relative;
  width: 100%;
  height: 80%;
  b {
    color: #f9af15;
  }

  #social_media_block {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 2rem;
    width: 204vh;

    .vid_temp {
      width: 100%;
    }

    .social_media_enum {
      position: relative;
      width: 50%;
      //height: 45%;
      top: -57%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      .social_media_single {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        border-radius: 35px;
        width: 100%;
        height: 30%;

        img {
          order: 0;
        }

        h4 {
          order: 1;
          font-weight: 700;
          font-size: 39px;
          line-height: 123%;
          letter-spacing: -0.06em;
        }

        p {
          order: 2;
        }
      }
    }
  }
}