.partnership {
  .partnership_header {
    width: 100%;
    .flex_content {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      width: 100%;

      #left {
        width: 68%;
        height: 40rem;
        background-image: url(../../../public/assets/img/partnershipBackground.png);
        background-size: cover;
        h1 {
          position: relative;
          top: 26rem;
          left: 5rem;
          width: 25rem;
          color: white;
          font-size: 40px;
          //font-weight: 500;
        }
      }

      #right {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 22rem;
        height: 22rem;
        padding: 41px;
        background: #161616;
        border-radius: 32px;

        h2 {
          width: 21rem;
          margin-top: 0;
          margin-bottom: 7rem;
          color: white;
          line-height: 131%;
        }

        button {
          width: 100%;
        }
      }
    }
    #bottom {
      position: relative;
      left: 46.5rem;
      top: -13rem;
      width: 43.5em;
    }
  }

}