.partnership_builders {
  gap: 55px;

  .head_banner {
    height: 625px;

    #to_calculator {
      padding: 31px;

      h2 {
        width: 20rem;
      }
    }
  }

  .cooperation {
    width: 100%;
    img {
      width:100%;
    }
  }
}