.black_button {
  background: black;;
  width: 30%;
  height: 70%;
  padding: 1.75rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 500px;
  border-color: transparent;
  font-weight: 500;
  font-size: 15px;
  color: white;
}