.symbol_block {
  order: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 49%;
  height: 80px;
  gap: 17px;
  border-radius: 20px;
  background: inherit;

  .contacts_header_logo {
    order: 1;
    width: 14vh;
  }


  .tagline {
    width: 130px;
    height: 43px;

    margin-top: 10px;
    flex: none;
    order: 3;

    text-align: left;
    color: #2b2a29;
    font-weight: 500;
    font-size: 11px;
    line-height: 142%;
    letter-spacing: -0.04em;
  }
}
