.contacts_page {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;

  .head {
    margin-right: 57rem;
  }

  .map_box {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;

    .map {
      width: 95%;
      height: 422px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      overflow: hidden;

      iframe {
        width: 100%;
        height: 100%;
        border-radius: 32px;
        z-index: 1;
      }

      .map_make_route {
        position: absolute;
        left: 6rem;
        background: #fff;
        border-radius: 32px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        h2, p {
          margin-left: 2rem;
          line-height: 1.25;
        }

        h2 {
          margin-top: 2rem;
          margin-bottom: 1re,;
        }

        p {
          margin-top: 1rem;
          font-weight: 600;
        }

        #map_route_button_container {
          width: 95%;
          height: 5rem;

          button {
            margin-left: 2rem;
            height: 80%;
            font-size: 14px;
          }
        }
      }

    }

    .map_contacts {
      height: 20vh;
      width: 100%;
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;

      #map_box_contacts_phone {
        //background: aqua;
        height: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        p {
          font-size: 15px;
          font-weight: 500;
        }
        a {
          font-size: 2rem;
          font-weight: bolder;
        }
      }

      #map_box_contacts_messengers, #map_box_contacts_social {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
      }

      #map_box_contacts_messengers #map_box_contacts_messengers_container,
    #map_box_contacts_social #map_box_contacts_social_container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
      }

      #map_box_contacts_messengers_container {
        width: 50%;
      }

      #map_box_contacts_social_container {
        width: 125%;
      }

      #map_box_contacts_button_container {
        width: 25%;
        button {
          font-size: 15px;
          width: 100%;
        }
      }
    }
  }

  .feedback_form {
    //background: aqua;
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    //gap: 50px;

    #feedback_form_headers {
      height: 85%;
      width: 30%;
      border-radius: 32px;
      background: black;
      padding: 2em 0;
      h1, p {
        color: white;
        margin-left: 3rem;
      }

      p {
        line-height: 1.5;
      }

      #feedback_form_headers_messengers {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 25px;
        div {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 10px;
          img {
            width: 35px;
          }
        }
      }
    }

    .send_message_form {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 25px;
      input {
        background: #f4f4f4;
        color: #161616;
        font-size: 18px;
        font-weight: 500;
        border-color: transparent;
        padding-left: 2rem;
        padding-right: 10rem;
        padding-top: 1rem;
      }

      .message_input {
        border-radius: 32px;
        padding-bottom: 6rem;
      }

      .tel_input, .email_input {
        border-radius: 35px;
        padding-bottom: 1.5rem;
        padding-top: 1.5rem;
      }

      #send_message_form_black_btn_container {
        width: 100%;
        button {
          width: 100%;
          padding-top: 2rem;
          padding-bottom: 2rem;
        }
      }

      #send_message_form_privacy_container {
        width: 100%;
        margin-top: -2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        label {
          font-size: 13px;
        }


      }
    }
  }

  .manager_block {
    background-image: url(../../../public/assets/img/managerPhoto.png);
    background-size: cover;
    height: 100%;
    width: 32%;
    margin-top: -15px;
    #manager_block_die {
      color: #ffffff;
      position: relative;
      left: 18rem;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      gap: 10px;
      width: 11rem;
      height: 9rem;
      margin-top: 40px;
      h3 {
        margin: 0 0;
        font-weight: 600;
        font-size: 30px;
        line-height: 130%
      }
      p {
        margin: 0 0;
        font-weight: 500;
        font-size: 13px;
        line-height: 147%;
      }
    }
  }

  #contacts_seo {
    margin-top: 2rem;
  }
}