.blog_main {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
  //justify-content: space-around;

  .blog_headers {
    position: relative;
    left: 2%;
    top: 2%;
    width: 98%;

    b {
      color: #f9af15;
    }
  }

  .content_filter {
    position: relative;
    left: -8%;
  }

  #blog_interaction {
    //background: #2b2a29;
    position: relative;
    width: 90rem;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

    #blog_content {
      //background: #2b2a29;
      width: 90rem;
      height: 100%;
      flex-grow: 1;
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  #blog_social_media {

  }
}
