.presentation {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  //padding: 1%;

  h1 {
    margin-left: 1.2rem;
    margin-bottom: 0;
  }

  b {
    color: #f9af15;
  }

  img {
    width: 98%;
  }

  .get_consulting {
    margin-top: 2.5rem;
    //margin-left: 1rem;
    width: 92rem;
  }
}

.check_button {
  width: 100%;
}