.presentation {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  //padding: 1%;

  h1 {
    margin-left: 1.2rem;
    //position: static;
  }

  b {
    color: #f9af15;
  }

  img {
    width: 98%;
  }

  .get_consulting {
    margin-top: 2.5rem;
    //margin-left: 1rem;
    width: 92rem;
  }
}

.check_button {
  width: 100%;
  height: 10%;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
  border: 0.06rem solid rgb(22, 22, 22);
  border-radius: 31.25rem;
  background: transparent;

  color: rgb(22, 22, 22);
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.13rem;
  letter-spacing: -3%;
  text-align: center;
}