.inviting {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  //height: 660px;

  #left {
    width: 50%;
    img {
      width: 95%;
    }
  }

  #right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    //width: 50%;
    padding: 2.5rem 4rem ;
    border-radius: 35px;
    border: 3px solid #161616;
    background-image: url(../../../../public/assets/img/invitingRight.png);
    background-size: cover;

    h2 {
      width: 24rem;
      font-size: 52px;
      margin-bottom: 2rem;
      margin-top: 0;
    }

    #buttons {
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: 35rem;

      button {
        width: 100%;
        border: 2px solid #161616;
      }
    }
  }
}