.eng_consulting {
  width: 90rem;
  height: 100%;
  p, h1 {
    position: relative;
    margin-left: -1rem;
  }

  ul {
    position: relative;
    top: 5%;
    left: -5%;
  }

  ul li {
    margin-bottom: 0.75%;
  }

  img {
    position: relative;
    left: 49%;
    margin-top: -20rem;
    width: 50%;
  }

  .eng_consulting_textBox {
    position: relative;
    top: 15%;
    left: 2%;
    width: 50%;
    #eng_quest {
      position: relative;
      transform: translateY(110%);
    }
  }

  .eng_consulting_imgBox {
    position: relative;
    left: 79rem;
    margin-top: -24rem;
    width: 10%;
    color: #fff;
    h2 {
      font-weight: 600;
      font-size: 32px;
      line-height: 130%;
      letter-spacing: -0.04em;
    }
    p {
      position: relative;
      margin-top: -0.5rem;
      left: 1rem;
      font-weight: 500;
      font-size: 15px;
      line-height: 147%;
      letter-spacing: -0.04em;
    }
  }

  .get_contact_rower {
    position: relative;
    width: 98%;
    height: 25%;
    margin-top: 17rem;
    margin-left: 3rem;

    p {
      position: relative;
      left: 1%;
    }
    .get_contact_rower_bullets {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
      height: 50%;
      width: 90%;
      margin-top: 1rem;
      margin-left: -2rem;
      padding-left: 2%;
    }

    .eng_phone_input {
      padding: 2em 1.5em;
    }

    .eng_chose_contact {
      padding: 2em;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      position: relative;

      &::after {
        content: "▼";
        right: 10px;
        transform: translateX(-100%); /* Подвинуть стрелочку влево */
        pointer-events: none; /* Стрелочка не перехватывает события клика */
      }
    }

  }
}