.home_content {
  gap: 25px;

  b {
    color: #f9af15;
  }

  .rightMover {
    rotate: 180deg;
  }

  .moveRight,
  .moveLeft {
    background: transparent;
    border-color: transparent;
  }

  .gallery_scroller {
    width: 98%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .gallery_arrows {
      order: 1;
    }

    .gallery_pointer {
      order: 2;
    }
  }

  .intro_container {
    width: 100%;
    min-height: 87vh;
    display: flex;
    flex-direction: row;
    align-items: center;

    .mega_box {
      order: 1;
      width: 50%;
      height: 87vh;
      background-image: url("../../assets/img/megaBoxBackground.png");
      background-size: cover;
      border-radius: 2.19rem;


      .mega_box_tagline {
        position: relative;
        width: 26.75rem;
        height: 22.5rem;
        left: 7%;
        top: 30%;
        display: flex;
        flex-direction: row;
        align-items: center;
        font-weight: 500;
        font-size: 45px;
        line-height: 110%;
        letter-spacing: -0.06em;
        color: #fff;
      }
    }

    #right_part {
      order: 2;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 35px;
      width: 50%;
      height: 87vh;

      .work_station {
        width: 96%;
        height: 57vh;

        border-radius: 3vh;
        background: rgb(22, 22, 22);

        .work_station_tagline {
          position: relative;
          left: 6.75%;
          top: 5%;
          display: flex;
          flex-direction: row;
          align-items: center;

          font-weight: 500;
          font-size: 27px;
          line-height: 131%;
          letter-spacing: -0.06em;
          color: #fff;
        }

        .buttons {
          position: relative;
          width: 90%;
          top: 12vh;
          left: 2vw;
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 32px;

          button {
            padding: 28px 1rem;
          }

          .button_partnership {
            flex: 1;
            width: 50%;
            height: 30%;
            align-items: center;
            //margin: 0.5rem;
            font-size: 1rem;
            border-radius: 40px;
            color: #fff;
          }

          .button_partnership {
            background: #000;
            border: 1px solid #fff;
          }
        }
      }

      .sections {
        width: 100%;
        height: 22%;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 1rem;

        .hidden_text {
          display: none;
          position: relative;
          top: -3rem;
          left: 10px;
          height: 0;
          font-weight: 400;
          font-size: 16px;
          letter-spacing: -0.02em;
          color: #fff;
        }


        .renovation_para, .building_para {
          position: relative;
          top: -30px;
          left: 1px;
        }

        .section_box {
          width: 40%;
          height: 12rem;
          margin: 0 1%;
          border-radius: 2.19rem;
          border-color: transparent;
          background: rgba(239, 239, 239, 1);

          &:hover {
            background-image: url("../../assets/img/sectionBackground.png");

            .hidden_text {
              display: block;
            }

            p {
              color: white;
            }

            .revertImg {
              content: url("../../assets/svg/revertLinkImg.svg");
            }
          }
        }

        #section_partnership {
          p {
            top: -20px;
          }

          .hidden_text {
            top: -40px;
          }

          .linkImg {
            top: -2%;
          }
        }
      }

      .sections p {
        padding: 0 7%;
        font-weight: 545;
        font-size: 24px;
        line-height: 133%;
        letter-spacing: -0.06em;
        color: #161616;
        text-align: left;
        //margin: 10%;
      }

      .sections img {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0 10%;
        width: 20%;
        top: 6%;
        left: 60%;
      }
    }

  }

  .bullets {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    height: 11rem;
    margin-bottom: 2rem;
    .bullet1 {
      order: 1;
    }

    .bullet2 {
      order: 2;
    }

    .bullet3 {
      order: 3;
    }

    .bullet4 {
      order: 4;
    }

    .bullet5 {
      order: 5;
    }
  }

  .mega_box2 {
    width: 100%;
    min-height: 87vh;
    display: flex;
    flex-direction: row;
    align-items: center;

    #mega_box2_left {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 50%;
      height: 87vh;
      justify-content: space-between;

      .mega_box2_tagline {
        font-size: 50px;
        font-weight: 600;
        line-height: 4rem;
        text-align: left;
        margin-top: -10px;
      }

      .solutions {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: -25px;

        .solutions_sections {
          color: #000000;
          font-size: 20px;
          font-weight: 600;
          line-height: 2.13rem;
          text-align: left;
        }

        .solutions_gallery {
          height: 100%;
          width: 95%;
          display: flex;
          flex-direction: row;
          align-items: center;

          .row_gallery {
            display: flex;
            flex-direction: row;
            align-items: center;
            //gap: 12px;

            .solutions_button {
              background: transparent;
              border-color: transparent;

              img {
                width: 90%;
              }
            }
          }
        }
      }
    }

    #mega_box2_right {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 50%;
      height: 87vh;
      gap: 16px;
    }

    .home_gallery {
      position: relative;
      height: 57vh;

      img {
        width: 100%;
      }

      .move_bar {
        position: relative;
        top: -13%;
        left: 3%;
        width: 15%;
        height: 10%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
      }
    }

    .solutions_description {
      width: 100%;
      height: 25vh;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 90px;
      border-radius: 2.19rem;
      background: rgb(233, 233, 233);
      padding: 10px 0;

      .solution_tag {
        font-weight: 600;
        font-size: 40px;
      }

      .solution_tag_description {
        color: rgb(129, 129, 129);
        font-size: 18px;
        font-weight: 400;
        line-height: 150%;
        text-align: left;
      }

      .solutions_description_text {
        position: relative;
        left: 10%;
        height: 28vh;
        width: 40%;

        p {
          margin-top: 41px;
        }

        h2 {
          margin-top: 30px;
        }
      }

      .solution_cost_fix {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        height: 80%;
        width: 40%;

        h2, p {
          margin: 0;
          color: #000000;
        }

        button {
          width: 95%;
        }
      }
    }
  }

  #credit {
    width: 100%;

    img {
      width: 100%;
    }
  }

  #home_risk {
    width: 100%;
  }

  #home_works_gallery {
    display: flex;
    flex-direction: column;
    align-items: center;

    .response_header {
      width: 98%;
      display: flex;
      flex-direction: row;
      //justify-content: space-between;
      gap: 50px;
      align-items: center;
      font-weight: 500;

      #response_names {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;

        p, h1 {
          letter-spacing: -0.06em;
          margin: 0 0;
        }
      }

      #response_bullets {
        display: flex;
        flex-direction: row;
        gap: 40px;

        .response_bullet {
          display: flex;
          flex-direction: row;
          align-items: baseline;
          gap: 20px;
          width: 50%;

          img {
            width: 30%;
          }

          p {
            font-weight: 450;
            font-size: 14px;
            line-height: 86%;
            transform: translateY(-4px);
          }
        }

        .response_bullet2 {
          p {
            top: 55%;
          }
        }
      }
    }
  }

  #variants_gallery {
    width: 100%;
    height: 80vh;
    align-content: center;
  }


  .planner {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    padding-top: 60px;
    padding-bottom: 20px;
    border-radius: 2.19rem;
    background: rgb(22, 22, 22);

    #planner_right {
      width: 50%;
      display: flex;
      flex-direction: column;
      padding-left: 3rem;

      .planner_textbox {
        width: 100%;
        height: 33%;
        display: flex;
        flex-direction: column;

        h2 {
          position: relative;
          top: -18%;
          font-size: 55px;
          font-weight: 600;
          line-height: 123%;
          letter-spacing: -0.06em;
          text-align: left;
          color: white;

          b {
            color: #f9af15;
          }
        }

        p {
          position: relative;
          top: -37%;
          color: white;
          font-weight: 500;
          font-size: 20px;
          line-height: 150%;
          letter-spacing: -0.04em;
          text-align: left;
        }
      }

      .planner_steps {
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;

        .planner_single_step {
          position: static;
          width: 100%;
          height: 20%;
          flex: none;
          flex-grow: 0;
          margin: 0.5vh 0;
          opacity: 0.35;
          box-sizing: border-box;
          border: 0.06rem solid #d3d3d3;
          border-radius: 1.25rem;
          display: flex;
          flex-direction: row;
          justify-content: space-between;

          p {
            color: rgb(255, 255, 255);
            font-size: 1.25rem;
            font-weight: 500;
            line-height: 1.88rem;
            letter-spacing: -4%;
            text-align: left;
            position: relative;
            top: 7%;
          }

          .planner_steps_t1 {
            order: 1;
            position: relative;
            left: 8%;
          }

          .planner_steps_t2 {
            order: 2;
            position: relative;
            left: -10%;
          }

          &:hover {
            p {
              color: black;
            }

            background: white;
            opacity: 100;
          }
        }

        #planner_step1 {
          order: 1;
        }

        #planner_step2 {
          order: 2;
        }

        #planner_step3 {
          order: 3;
        }

        #planner_step4 {
          order: 4;
        }

        #planner_step5 {
          order: 5;
        }
      }
    }


    #planner_left {
      display: flex;
      flex-direction: column;
      width: 50%;
      height: 95%;


      img {
        width: 93%;
      }

      p {
        position: relative;
        top: -2%;
        font-weight: 500;
        font-size: 30px;
        line-height: 130%;
        letter-spacing: -0.04em;
        color: #fff;
      }
    }
  }

  #home_presentation {
    width: 100%;

    img {
      width: 100%;
    }
  }

  #home_responsibility {
    width: 100%;
  }


  .pseudo_vid {
    width: 98%;
    height: 100%;

    img {
      width: 100%;
    }
  }

  #home_to_blog {
    width: 100%;
  }

  #home_faq {
    width: 100%;
  }

  .home_seo {
    width: 100%;
  }
}
