.variants_gallery {
  position: relative;
  width: 91rem;
  margin-left: 0.5rem;

  height: 80vh;
  //left: 3%;

  .gallery_scroller {
    top: 85%;
    left: 1%;
  }

  .variants_gallery_slideshow {
    position: relative;
    width: 91rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    img {
      width: 100%;
    }

    p {
      position: relative;
      color: #f9af15;
      transform: translateY(-4rem);
      left: 2.5rem;
    }

    #variant1 {
      order: 1;
      margin: 2.5%;
    }

    #variant2 {
      order: 2;
    }
  }

  .rightMover {
    rotate: 180deg;
  }

  .moveRight,
  .moveLeft {
    background: transparent;
    border-color: transparent;
  }

  .gallery_scroller {
    //position: relative;
    width: 96%;
    padding-left: 1rem;
    margin-top: -3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .gallery_arrows {
      order: 1;
    }

    .gallery_pointer {
      order: 2;
    }
  }
}