.consent {
  display: flex;
  flex-direction: row;
  align-items: center;
  //margin-top: 1rem;
  font-size: 12px;
  text-align: center;

  input[type="checkbox"] {
    width: 18px;
    height: 18px;
    accent-color: #f9af15;

    &:checked {
      background-color: #f9af15;
      border-color: #f9af15;
    }
  }

  a {
    text-decoration: underline;

    &:hover {
      color: #999;
      //color: #fff;
    }
  }


}