#blog_post_1 {
  gap: 52px;

  .post {
    display: flex;
    flex-direction: row;
    //align-items: center;
    gap: 64px;
    width: 100%;

    #post_recommendation_form_wrapper {
      position: relative;
      height: 360vh;
      width: 33%;
      flex-shrink: 0;

      .recommendation_form {
        position: sticky;
        top: 20px;
      }
    }

    #post_content_gallery_1, #post_content_gallery_2 {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    #post_content_gallery_1 {
      justify-content: space-between;

      img {
        width: 48%;
      }
    }

    #post_content_gallery_2 {
      gap: 18px;

      img {
        width: 32%;
      }
    }

    #post_content_button_container {
      width: 55rem;
      button {
        width: 100%;
        padding: 2rem;
      }
    }
  }

  #blog_posts_container {
    width: 100%;
  }
}

.post_content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 62%;
  gap: 25px;
  //height: 200vh;

  #first_picture {
    width: 100%;
  }

  p {
    font-size: 17px;
    line-height: 150%;
    letter-spacing: -0.03em;
  }
}