.single_bullet {
  width: 21.69rem;
  height: 11.56rem;
  border-radius: 2.19rem;
  margin: 1%;
}

p {
  position: relative;
  font-weight: 500;
  font-size: 18px;
  line-height: 139%;
  letter-spacing: -0.06em;
  color: #161616;
  left: 1vw;
  top: 13vh;

}

img {
  position: relative;
  left: 14vw;
  top: -8vh;

}