.footer {
  display: flex;
  flex-direction: row;
  //gap: ;
  width: 100%;
  height: 13vh;
  z-index: 1000;
  padding: 1rem 40px;
  border-radius: 25px 25px 0 0;
  background: rgb(22, 22, 22);

  #symbol_container {
    order: 1;

    p {
      color: #ffffff;
    }

  }
}