.row_bullet {
  background: #f4f4f4;;
  width: 30%;
  height: 70%;
  padding-left: 2%;
  padding-bottom: 0.25%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 500px;
  border-color: transparent;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 15px;
  //letter-spacing: -0.03em;
  color: #161616;
}