.symbol_block {
  order: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 49%;
  height: 80px;
  gap: 17px;
  border-radius: 20px;
  background: rgb(255, 255, 255);

  .contacts_header_logo {
    flex: none;
    order: 1;
    flex-grow: 0;
  }


  .tagline {
    width: 145px;
    height: 59px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    flex: none;
    order: 3;
    flex-grow: 0;

    text-align: left;
    font-weight: 500;
    letter-spacing: -0.04em;
    color: #2b2a29;
    font-size: 12px;
    line-height: 142%;
  }
}
