.check_feedbacks {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;

  #check_feedbacks_galleries {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1px;
  }

  #check_feedbacks_checkbutton_container {
    width: 100%;
    button {
      padding: 25px 0 ;
    }
  }
}



.response_gallery {
  width: 40%;
  height: 85%;

  img {
    width: 85%;
  }

  #responses_gallery_scroller {
    width: 85%;
  }
}

.feedbacks_video_gallery {
  width: 60%;
  height: 85%;

  #vid {
    width: 100%;
  }

  #video_gallery_scroller {
    margin-top: 2.5em;
  }
}