.die {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  border-radius: 10px;
  width: 234px;
  height: 40px;
  background: white;
  p {
    font-weight: 600;
  }
}