body {
  font-family: var(--font-family);
  --font-family: "Inter", sans-serif;
  --second-family: "Manrope", sans-serif;
  --third-family: "Stolzl", sans-serif;
  margin-bottom: 0;
  b {
    color: #f9af15;
  }
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: 39rem;
  background: #fafafa;
}

h1, h4 {
  color: rgb(22, 22, 22);
  font-size: 3.13rem;
  font-weight: 600;
  //line-height: 3.81rem;
  letter-spacing: -8%;
  text-align: left;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

address {
  font-style: inherit;
}


.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2rem;
}

.main_header {
  width: 100%;
}