header {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  z-index: 1000;
  //padding: 0 2.8rem;
  //position: ;
}

p {
  font-family: var(--font-family);
  --font-family: "Inter", sans-serif;
  --second-family: "Manrope", sans-serif;
  --third-family: "Stolzl", sans-serif;
}

.contacts {
  order: 1;
  width: 65%;
  height: 80px;
  border-radius: 20px;
  background: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0px 5px;
  //box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  .contacts_header_logo {
    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .contacts_header_line {
    flex: none;
    flex-grow: 0;
  }

  .line1 {
    order: 2;
  }
  .line2 {
    order: 4;
  }
  .line3 {
    order: 7;
  }

  .tagline {
    /* Первый онлайн-сервис по ремонту и строительству с фикс стоимостью */
    width: 157px;
    height: 59px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;

    flex: none;
    order: 3;
    flex-grow: 0;
    margin: 0px 10px;

    text-align: left;
    font-weight: 500;
    font-size: 13px;
    line-height: 162%;
    letter-spacing: -0.04em;
    color: #2b2a29;
  }

  .worktime_container {
    order: 5;
    display: flex;
    flex-direction: row;
    align-items: center;
    .clock {
      /* Vector */
      width: 17px;
      height: 25px;
      order: 1;
    }
    .worktime {
      /* Звоните Пн-Вс: 8:30 - 19:00 */
      width: 175px;
      height: 18px;
      display: flex;
      flex-direction: row;
      align-items: center;
      order: 2;
      margin: 0 10px;

      font-weight: 500;
      font-size: 15px;
      line-height: 120%;
      letter-spacing: -0.04em;
      color: #2b2a29;
    }
  }

  .phone_container {
    order: 7;
    display: flex;
    flex-direction: row;
    align-items: center;

    /*margin: 0 -3px;*/

    .phone {
      width: 17px;
      height: 25px;
      order: 1;
    }

    .phone_number {
      flex: none;
      color: rgb(43, 42, 41);
      order: 2;
      margin: 0 4px;
    }
  }

}

/* div social */
.social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px; /* Отступ внутри контейнера */

  border-radius: 20px;
  background: rgb(255, 255, 255);
  //box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  order: 2;
  width: 300px;
  height: 60px;

  margin: 0 2rem;
}

.write_us_container,
.messenger_container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.write_us_container img,
.messenger_container img {
  margin-right: 10px; /* Отступ справа от изображений */
}

.write_us {
  white-space: pre-line; /* Позволяет переносить текст на новую строку */
}

.online_circle {
  margin: 0 3px;
}

.profile {
  order: 3;
  margin: 0 0.5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1px 9px;
  width: 20rem;
  height: 5rem;

  border-radius: 1.25rem;
  background: rgb(22, 22, 22);
  //box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0);

  .to_profile_tagline {
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: -0.03em;
    text-align: center;
    color: #fff;
  }

  .profile_icon {
    order: 2;
  }
}

.menu {
  width: 25px;
  height: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 1.69rem 2rem 1.69rem;
  order: 4;
  margin: 0 2rem;
  border-radius: 20px;
  //box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  fill: #fff;
}