.reason_block {
  width: 660px;
  padding: 2rem;
  border-radius: 32px;
  background: #161616;
  h2, p {
    color: white;
  }

  h2 {
    font-size: 34px;
  }

  p {
    width: 590px;
  }

  &:nth-child(2n) {
    background: white;
    h2, p {
      color: #161616;
    }
    p {
      font-size: 16px;
    }
  }
}