.recommendation_form {
  background-color: #161616;
  color: #fff;
  padding: 2rem;
  border-radius: 30px;
  width: 90%;
  max-width: 400px;
  margin: 2rem auto;

  .free_file {
    font-size: 13px;
    text-align: center;
    margin-bottom: 1rem;
  }

  h3 {
    font-size: 35px;
    text-align: left;
    line-height: 119%;
    letter-spacing: -0.05em;
    b {
      color: #f9af15;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;

    #contact_method {
      margin-left: -19em;
    }

    #contact_method {
      font-size: 13px;
      margin-bottom: 16px;
    }

    .input-field {
      width: 100%;
      position: relative;
      padding: 28px;
      margin-bottom: 1rem;
      border: none;
      border-radius: 5rem;
      background-color: #4a4a4a;
      color: #fff;
      font-size: 14px;
      text-align: left;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;

      &:focus {
        outline: none;
        border: 1px solid #f9af15;
      }

      &:after {
        content: "▼";
        right: 10px;
        transform: translateX(-10%);
        pointer-events: none;
      }
    }

    .phone_number_input {
      width: 85%;
      padding: 28px;
      &::placeholder {
        color: #fff;
      }

    }

    .submit-button {
      width: 100%;
      padding: 1rem;
      background-color: #f9af15;
      border: none;
      border-radius: 5rem;
      color: #fff;
      font-size: 1rem;
      cursor: pointer;

      &:hover {
        background-color: #e89d00;
      }
    }

    #privacypolicy_container {
      margin-top: 1rem;
      input {
        margin-right: 0.5rem;
      }

      a {
        color: #999;
        text-decoration: underline;

        &:hover {
          color: #fff;
        }
      }
    }
  }
  button {
    width: 100%;
    padding: 1.5rem;
  }
}
