.button_online_calculator {
  align-items: center;
  flex: 1;
  width: 80%;
  height: 30%;
  padding: 1.5rem;
  font-size: 1rem;
  border-radius: 40px;
  border-color: transparent;
  color: #fff;
  background: #f9af15;
}