.row_bullet {
  background: rgb(243, 243, 243);
  width: 30%;
  height: 75%;
  padding-left: 2%;
  padding-bottom: 1%;
  padding-top: 1%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 500px;
  border-color: transparent;
  font-weight: 500;
  font-size: 15px;
  color: #161616;
}