p, h1, h2, h4, h5, li, ul {
  font-family: var(--font-family);
  --font-family: "Inter", sans-serif;
  --second-family: "Manrope", sans-serif;
  --third-family: "Stolzl", sans-serif;
}

h1, h4 {
  color: rgb(22, 22, 22);
  font-size: 3.13rem;
  font-weight: 600;
  line-height: 3.81rem;
  letter-spacing: -7%;
  text-align: left;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  //align-items: center;
  //padding: 0 1%;
}

footer {
  margin-top: auto;
}