main {
  width: 98%;
  height: 100%;
  display: flex;
  .portfolio_content > * {
    width: 98%;
  }

  .portfolio_headers {
    position: relative;
    left: 2%;
    top: 2%;
    width: 98%;
  }

  b {
    color: #f9af15;
  }


  .main_portfolio {
    width: 98%;
    top: 13%;
    left: 0%;
    height: 100%;
    position: absolute;;
    .portfolio_content_filter {
      position: absolute;
      top: 23%;
      left: 1%;
      width: 30%;
      height: 7%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: row;

      .portfolio_section {
        background: rgb(247, 247, 247);
        padding: 0 3%;
        border-radius: 31.25rem;
        height: 85%;
        width: auto;
        max-width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-color: transparent;
      }

      .portfolio_section1 {
        order: 0;
      }

      .portfolio_section2 {
        order: 1;
      }

      .portfolio_section3 {
        order: 2;
      }
    }

    .portfolio_gallery {
      //background: gray;
      position: absolute;
      top: 33%;
      left: 0%;
      width: 98%;
      height: 130%;
      column-count: 2;
      column-gap: 3%;
      padding: 1% 1%;
      margin-bottom: 2%;

      img {
        width: 100%;
      }

      p {
        color: #f9af15;
      }

      .portfolio_variant {
        position: relative;
        margin: 1%;

        a {
          position: absolute;
          top: 84%;
          left: 6%;
        }
      }
    }
    .main_portfolio_show_more {
      position: relative;
      left: 2%;
      top: 140%;
      width: 97%;
    }
  }

  .portfolio_consulting {
    position: absolute;
    top: 185%;
    left: 2%;

    width: 98%;
    height: 100%;
  }

  .portfolio_responsibility {
    position: absolute;
    top: 335%;
    height: 100%;
    width: 98%;
  }

  .portfolio_engConsulting {
    //background: gray;
    position: absolute;
    top: 440%;
    height: 100%;
    width: 98%;
  }


}
