.section_faq {
  position: relative;
  width: 100%;
  height: 98%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;

  .section_faq_head {
    order: 0;
    //width: 100%;
    //height: 27%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;

    h1 {
      b {
        color: #f9af15;
      }
      order: 0;
    }

      .section_faq_CEO {
      overflow: hidden;
      //max-width: 100%;
      order: 1;
      width: 50%;
      height: 225px;
      border-radius: 25px;
      background: black;
      background-image: url(../../../../public/assets/img/CEOImg.png);

      h4 {
        position: relative;
        left: 50%;
        top: -9%;
        font-weight: 600;
        font-size: 32px;
        line-height: 140%;
        letter-spacing: -0.04em;
        color: #fff;
      }

      p {
        position: relative;
        left: 50.5%;
        top: -20%;
        font-weight: 400;
        font-size: 16px;
        line-height: 80%;
        letter-spacing: -0.04em;
        color: #fff;
      }

      .section_faq_contacts {
        position: relative;
        top: -25%;
        left: 50%;
        width: 52%;
        height: 30%;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        align-items: center;

        a {
          display: flex;
          align-items: center;
          height: 65%;
        }

        h4 {
          position: static;
          order: 0;
        }

        .section_faq_whatsapp {
          order: 1;
        }

        .section_faq_telegram {
          order: 2;
          width: 58%;
        }
      }
    }
  }

  .section_faq_box {
    order: 1;
    width: 98%;
    height: 69%;
    padding: 1% 1%;
    column-count: 2;
    column-gap: 3%;

    .section_faq_single_bullit {
      width: 95%;
      height: 20%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row;
      border-radius: 25px;
      background: rgb(255, 255, 255);
      margin-bottom: 3%;
      margin-left: 2%;

      h4 {
        padding: 0 5%;
        color: rgb(22, 22, 22);
        font-size: 24px;
        font-weight: 700;
        line-height: 48px;
        letter-spacing: -6%;
        text-align: left;
      }

      img {
        padding: 0 5%;
      }

      &:hover {
        img {
          rotate: 90deg;
        }
      }
    }
  }
}